@font-face {
	font-family: Lifehack;
	font-display: swap;
	src: url("../fonts/Lifehack.woff2") format("woff2"), url("../fonts/Lifehack.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-italic.woff2") format("woff2"), url("../fonts/Roboto-italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MullerExtraBold;
	font-display: swap;
	src: url("../fonts/MullerExtraBold.woff2") format("woff2"), url("../fonts/MullerExtraBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
