.grass__banner video{
    width: 100%;
    position: absolute;
    z-index: -1;
    // filter: brightness(0.8);
    @media (max-width: 1200px) {
      width: auto;
    }
    
}

.grass__banner .overlay {
  // background: rgb(2,0,36);
  height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    
    @include adaptiveValue("bottom", -15,-202, 1200, 320);
background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(4,49,13,1) 0%, rgba(4,42,3,0) 100%, rgba(0,212,255,0%) 100%);
}

.grass__banner .overlay.inside-page {
  bottom: auto;
} 

.grass__banner {
    position: relative;
    // min-height: 807px;
    padding-bottom: 209px;
    @include adaptiveValue("padding-bottom", 201, 0, 1980, 995);
    background-repeat: no-repeat;
    background-position-y: 27%;
    background-size: cover;
}

.grass-content__header  h1.green-background{
  background-color: #11c05cc4;
}



.grass-content__container {
    position: relative;
    // width: 100%;
    height: 100%;
    z-index: 4;
    color: #fff;
    display: grid;
    justify-items: center;
}

.grass-content__header h1{
    font-family: Lifehack;
    font-size: 60px;
    padding: 5px 29px;
    background-color: rgb(1 1 1 / 27%);
    margin-top: 16.5%;
    @include adaptiveValue("margin-top", 194, 100, 1200, 320);
    @include adaptiveValue("font-size", 60, 30, 1200, 320);
}
.grass-content__text {
    font-size: 24px;
    text-align: center;
    margin-top: 5.3%;
    padding: 0px 11%;
    letter-spacing: -0.3px;
    line-height: 28px;
    @include adaptiveValue("line-height", 28, 12, 991, 320);
    @include adaptiveValue("font-size", 24, 12, 1200, 320);
    @include adaptiveValue("margin-top", 64, 50, 1200, 320);
}

.grass-content__text.shadow-background {
  max-width: 954px;
  width: auto;
  padding: 0;
  margin-bottom: 126px;
  font-weight: normal;
  @include adaptiveValue("margin-bottom", 126, 70, 1200, 320);
}
.grass-content__text.shadow-background p {
  background-color: rgb(1 1 1 / 27%);
  padding: 10px 22px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  line-height: 0.7;
}

.grass-content__text.shadow-background span {
  background-color: rgba(1, 1, 1, 0.27);
  padding: 2px 22px;
  margin-left: auto;
  /* padding: 2px 22px 2px 22px; */
  margin-right: auto;
  width: fit-content;
  text-align: center;
  line-height: 1.36;
  /* box-shadow: -22px 0 0 rgb(1 1 1 / 27%), 22px 0 0 rgb(1 1 1 / 27%); */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  @media (max-width: $tablet){
    padding: 1px 22px;
  }
}
.grass-content__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    grid-column-gap: 30px;
    // @include adaptiveValue("grid-column-gap", 15,0, 1200, 320);
    @include adaptiveValue("grid-column-gap", 160,0, 1081, 320);
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    margin-top: 8.7%;
    @include adaptiveValue("margin-top", 110, 50, 1200, 320 );
    margin-left: 15px;
    justify-items: center;
    @media (max-width:995px){
        justify-content: center;
        grid-row-gap: 20px;
    }
}

.grass-content__items a {
    display: flex;
    height: 120px;
    flex: 0 0 auto;
    padding: 10px 0;
    @include adaptiveValue("height", 120, 80, 1200, 320 );
    justify-content: flex-start;
    align-items: center;
    max-width: 263px;
    min-width: 240px;
    @include adaptiveValue("max-width", 263, 150, 1200, 320);
    @include adaptiveValue("min-width", 240, 150, 1200, 320);
}

.grass-content__items-img {
    // height: 100px;
    width: 120px;
    padding: 10px;
    display: flex;
    flex: 0 0 auto;
    // @include adaptiveValue("height", 98,30, 991, 320 );
    @include adaptiveValue("width", 120,70, 991, 320 );
    @include adaptiveValue("padding", 10,0, 991, 320 );
}

// .grass-content__items-img img {
//   @include adaptiveValue("max-height", 78,30, 991, 320 );
// }

.grass-content__items-block {
    padding-left: 20px;
    max-width: 60%;
    @include adaptiveValue("padding-left", 34, 0 );
}

.grass-content__items-number {
    font-size: 40px;
    color: #f8e36e;
    text-align: left;
    @include adaptiveValue("font-size", 40, 25, 1200, 320);
}

.grass-content__items-number p {
    padding: 2px 5px;
    background-color: rgb(1 1 1 / 27%);
    width: auto;
    max-width: fit-content;
}

.grass-content__items-text {
     font-size: 18px;
    padding-top: 7px;
    @include adaptiveValue("font-size", 18, 10, 1200, 320);
}

.objects {
    background-image: url("@img/onjects_bg.jpg");
    padding: 68px 0 80px;
    @include adaptiveValue("margin-top", 10, 200, 1200, 320);
    @include adaptiveValue("padding-top", 69, 40, 1200, 320);
    @include adaptiveValue("padding-bottom", 85, 40, 1200, 320);
}

.objects__items {
    display: grid;
    width: 100%;
    grid-column-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}

.objects__item {
    position: relative;
    margin: 37px 15px;
    max-height: 254px;
    background-position-y: center;
    width: auto;
    height: 254px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    @include adaptiveValue("max-height", 254, 140, 1200, 320);
    @include adaptiveValue("height", 254, 140, 1200, 320);
}

.objects__item:hover .objects__item-bg:before, .objects__item:focus .objects__item-bg:before {
    display: block;
   
}


.objects__item:hover .objects__item-bg, .objects__item:focus .objects__item-bg {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}


.objects__item-bg {
    height: 100%;
    width: 100%;
     background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    padding: 15px;
    background-position-y: center;
    filter: brightness(0.7);
}

.objects__item:hover .objects__item-bg {
  filter: brightness(1.0);
}

.objects__item-bg:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: rgba(255, 255, 255, 0.543);
    // background-color: rgb(0 0 0 / 9%);
}

.objects__item-text {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 80px;
    position: absolute;
    left: 15px;
    z-index: 4;
    text-align: center;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid #fff;
    @include adaptiveValue("padding", 80, 30, 1200, 320)
}

.objects__item-text p {
    color: #fff;
    background-color: #01b651;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
    z-index: 5;
    @include adaptiveValue("font-size", 20,14, 1200, 320 );
}

.objects__item-text span {
  color: #fff;
  background-color: #01b651;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: auto;
  width: fit-content;
  z-index: 5;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  @include adaptiveValue("font-size", 20,14, 1200, 320 );
}
.map-block {
    padding: 75px 0 108px;
}
.map-block__text {
    text-align: center;
    margin-top: 33px;
    font-size: 19px;
    letter-spacing: -0.9px;
    line-height: 22px;
    @include adaptiveValue("font-size", 19, 14, 1200, 320);
}

.map__header-text {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  max-width: 177px;
}

.ymaps-2-1-79-balloon__layout {
  padding: 11px 5px 0px 24px;
  border: 1px solid #c0c0c0
}

.ymaps-2-1-79-balloon__close-button {
  height: 15px !important;
}

.ymaps-2-1-79-balloon, .ymaps-2-1-79-balloon-overlay,.ymaps-2-1-79-balloon__layout  {
  border-radius: 5px;
}
.map__header-text p{
  color: #fff;
  background-color: #01b651;
  padding: 4px 13px;
  font-size: 14.5px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  margin: auto;
  z-index: 5;
}

.map__header-text span{
  color: #fff;
  background-color: #01b651;
  padding: 4px 13px;
  font-size: 14.5px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  width: fit-content;
  z-index: 5;
  -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.map__body-text {
  font-size: 15px;
  margin: 10px 0 20px;
}

.map__footer-btn {
  font-size: 12px;
  text-transform: uppercase;
  padding: 14px 44px;
  border-radius: 5px;
  background-color: #fac23a;
  color: #000;
  margin: 10px 10px;
}

.map {
    height: 445px;
    width: 100%;
    margin-top: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("@img/map.jpg");
    background-position-y: center;
    @include adaptiveValue("height", 445, 200, 1200, 320)
}
.contact-form__body {
    padding: 100px 0 112px;
    // background-image: linear-gradient( rgba(255, 255, 255, 0.492), rgba(0, 0, 0, 0.8) ), url("@img/consultation_form_bg.jpg");
    background-image: linear-gradient(rgb(255 255 255 / 0%), rgb(0 0 0)), url(../img/consultation_form_bg.jpg);
    // min-height: 500px; 
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-weight: bold;
   // for Iphone
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 0;
    @include adaptiveValue("padding-top", 98, 25, 1200, 320);
    @include adaptiveValue("padding-bottom", 112, 32, 1200, 320)
  }
  .contact-form__body.iPhone {
    background-attachment: local;
    background-size: cover;
  }

  .contact-form__container {
    z-index: 2;
  }
  .contact-form__header {
    color: #fff
  }

  .contact-form__text {
  text-align: center;
    margin-top: 26px;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.9px;
    line-height: 22px;
    color: #fff;
    @include adaptiveValue("font-size", 19,14, 1200, 320 );
    @include adaptiveValue("margin-top", 26, 15, 1200, 320)
  }

  .contact-form__phone {
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    @include adaptiveValue("font-size", 24,18, 1200, 320 );
    font-weight: bold;
  }


  .contact-form__sub {
    margin-top: 50px;
    // display: grid;
    display:flex;
    align-items: center;
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    justify-items: center;
    // padding: 0 135px;
    @include adaptiveValue("padding-left",135, 30, 1200, 989);
    @include adaptiveValue("padding-right",135, 30, 1200, 989);
    @include adaptiveValue("margin-top", 50, 20, 1200, 320);
  }

  @media (max-width: 991px) {
    .contact-form__sub {
      flex-wrap: wrap;
      justify-content: center;
      grid-auto-rows: 62px;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .contact-form__sub input, .contact-form__sub button {
      flex: 1 0 auto;
    }
  }

  @media (max-width: 767px) {
    .contact-form__sub {
      flex-direction: column;
    }
  }

  .contact-form__sub input, .contact-form__sub button {
    min-height: 50px;
    width: 280px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Roboto;
    flex: 0 0 33%
  }

  .contact-form__sub input {
    padding: 20px 27px;
    font-family: Roboto;
    
  }

  .contact-form__sub input:focus-visible {
    outline: none
  }

  input::placeholder {
    font-family: Roboto-italic;
  }

  .contact-form__sub button {
    background-color: #fac23a;
    text-transform: uppercase;
  }

  .contact-form__sub button:hover {
    filter: brightness(1.1);
  }
  .news-block {
    padding: 64px 0 51px;
  }

  .news-block__items {
    display: grid;
    width: 100%;
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    justify-items: center;
    margin-top: 53px;
  }

  .news-block__item {
    height: 100px;
    display: flex;
    max-width: 345px;
  }

  .news-block__img {
    width: 90px;
  }

  .news-block__item-text {
    width: 100%;
    padding:2px 0 0 30px ;
  }

  .news-block__item-text span{
    background-color: #01b651;
    padding: 2px;
    margin-top: 2px;
    color: #fff;
  }

 .news-block__item-text p {
    padding-top: 16px;
    letter-spacing: -0.4px;
    line-height: 18px;
 }

 .news-block__all-news {
    margin: 88px 0 65px;
    text-align: center;
 }
 .news-block__all-news a {
  padding: 16px 55px;
    border-radius: 5px;
    background-color: #fac23a;
 }

 .news-block__all-news a:hover {
    filter: brightness(1.1);
 }

 [class*="copyrights-pane"] {
  display: none !important;
}

@media(max-width: 1127px) {
  .news-block__items {
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    justify-items: center;
    margin-top: 53px;
    grid-auto-rows: 130px;
}
.news-block__item {
  max-width: none;
}
.news-block__all-news {
  margin: 48px 0 25px;
}
}

@media(max-width: 755px) {
  .news-block__items {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    justify-items: center;
    margin-top: 53px;
    grid-auto-rows: 130px;
}

}

@media (max-width: 600px) {
  .objects__item {
    margin: 15px 15px;
  }
//   .objects {
//     padding: 40px 0 ;
// }
.menu__callback div {
  padding: 7px 5px;
}

.menu__objects {
  font-size: 12px;
}
.map-block {
  padding: 40px 0 77px;
}
// .contact-form__body {
//   padding: 60px 0 72px;
// }
.news-block {
  padding: 40px 0;
}
.news-block__all-news {
  margin: 48px 0 25px;
}
}



@media (max-width: 500px) {
  .objects__items {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
 
}

.about {
  padding: 68px 0 125px;
  // background-image: url(../img/onjects_bg.jpg);
  &__container {
  }

  &__header {
    font-size: 50px;
    font-family: Lifehack;
    text-align: center;
    font-weight: 500;
    margin-bottom: 47px;
    @include adaptiveValue("font-size", 50,30, 1200, 320);
    font-weight: 500;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    @media (max-width:1146px) {
      flex-wrap: wrap;
      
    }
  }

  &__item {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    @media (max-width:1146px) {
      flex: 1 1 50%;

    }
  }

  &__item-icon {
    height: 98px;
    width: 98px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item-text {
    text-align: center;
    font-size: 18px;
    padding: 24px 35px;
    line-height: 26px;
    @include adaptiveValue("font-size", 18,12, 1200, 320);
    @include adaptiveValue("line-height", 26,16, 1200, 320);
    span {
      font-weight: bold;
    }
  }

  &__video {
    margin-top: 58px;
    iframe {
      @include adaptiveValue("height", 650,300, 1200, 320);
    }
  }
}

.benefits {
  padding: 68px 0 125px;
   background-image: url(../img/onjects_bg.jpg);
  &__container {
  }

  &__header {
    font-size: 50px;
    font-family: Lifehack;
    text-align: center;
    font-weight: 500;
    margin-bottom: 69px;
    @include adaptiveValue("font-size", 50,30, 1200, 320);
    font-weight: 500;
  }

  &__items {
    // margin-top: 69px;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }

  &__item {
    flex: 1 1 48%;
    height: 222px;
    display: flex;
    transition: .3s;
  }

  &__item:hover {
    transform: translateY(-7px);
  }
 &__item-left {
  flex: 0 0 98px;
  height: 222px;
  background-color: #01b651;
  justify-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
 }
  &__item-icon {
   height: 60px;
   width: 60px;
   padding: 1px;
   background-repeat: no-repeat;
   background-position: center;
  }

  &__item-text {
    flex: 0 1 auto;
    padding: 41px 20px 41px 67px;
    background-color: #fff;
    @media (max-width:991px){
        padding: 21px 20px 21px 47px;
    }
  }
}
.text {

  &__block {
  }

  &__block-header {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 24px;
    @include adaptiveValue("font-size", 18,14, 1200, 320);
  }

  &__block-body {
    font-size: 17px;
   line-height: 26px;
    font-weight: normal;
    @include adaptiveValue("font-size", 17,10, 1200, 320);
  }
}

.tour {
  padding: 68px 0 125px;
  &__container {
  }

  &__header {
    font-size: 50px;
    font-family: Lifehack;
    text-align: center;
    font-weight: 500;
    margin-bottom: 69px;
    @include adaptiveValue("font-size", 50,30, 1200, 320);
    font-weight: 500;
  }

  &__item iframe{
    @include adaptiveValue("height", 700,300, 1200, 320);
  }
}

.plan {
  padding: 68px 0 125px;
  background-image: url(../img/onjects_bg.jpg);
  &__container {
  }

  &__header {
    font-size: 50px;
    font-family: Lifehack;
    text-align: center;
    font-weight: 500;
    margin-bottom: 69px;
    @include adaptiveValue("font-size", 50,30, 1200, 320);
    font-weight: 500;
  }

  img {
    width: 100%;
    margin-bottom: -4px;
    display: none;
    @media screen and (max-width: 1024px)
{
    display: block;
}
}

  &__map {
    width: 100%;
    position: relative;
    max-width: 1720px;
    margin: 0 auto;
    background: url(../img/new_plan.jpg) no-repeat center;
    height: 765px;
    @media screen and (max-width: 1024px)
         {
    background: none;
    height: auto;
    }
  }
}
.plan .item {
  font-family: 'MullerExtraBold';
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #76cb00;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  @media screen and (max-width: 1024px)
   {
      zoom: 0.8;
  }
  @media (max-width: 970.98px)
  {
      zoom: 0.7;
  }
  @media (max-width: 820.98px)
  {
     zoom: 0.6;
 }
 @media screen and (max-width: 700.98px)
  {
      zoom: 0.5;
  }
  @media screen and (max-width: 574.98px)
  {
      zoom: 0.4;
  }
  @media screen and (max-width: 458.98px)
  {
     zoom: 0.35;
 }
 @media screen and (max-width: 420.98px)
 {
      zoom: 0.3;
  }
  @media screen and (max-width: 354.98px)
   {
      zoom: 0.25;
  }
  
 

 
 

  &_42 {
    top: 19.8%;
    left: calc(50% - 450px);
  }

  &_41 {
    top: 31.8%;
    left: calc(50% - 485px);
  }

  &_40 {
    top: 42.8%;
    left: calc(50% - 485px);
  }

  &_39 {
    top: 54.8%;
    left: calc(50% - 475px);
  }

  &_38 {
    top: 66.8%;
    left: calc(50% - 415px);
  }

  &_37 {
    top: 75.8%;
    left: calc(50% - 350px);
  }

  &_36 {
    top: 77.8%;
    left: calc(50% - 255px);
  }

  &_35 {
    top: 79.8%;
    left: calc(50% - 175px);
  }

  &_34 {
    top: 79.8%;
    left: calc(50% - 95px);
  }

  &_33 {
    top: 79.8%;
    left: calc(50% - 25px);
  }

  &_32 {
    top: 79.8%;
    left: calc(50% + 50px);
  }

  &_31 {
    top: 79.8%;
    left: calc(50% + 125px);
  }

  &_30 {
    top: 79.8%;
    left: calc(50% + 200px);
  }

  &_29 {
    top: 79.8%;
    left: calc(50% + 280px);
  }

  &_28 {
    top: 79.8%;
    left: calc(50% + 355px);
  }

  &_27 {
    top: 50.8%;
    left: calc(50% - 230px);
  }

  &_26 {
    top: 54.8%;
    left: calc(50% - 150px);
  }

  &_25 {
    top: 56.8%;
    left: calc(50% - 75px);
  }

  &_24 {
    top: 56.8%;
    left: calc(50% + 5px);
  }

  &_23 {
    top: 56.8%;
    left: calc(50% + 92px);
  }

  &_22 {
    top: 56.8%;
    left: calc(50% + 175px);
  }

  &_21 {
    top: 56.8%;
    left: calc(50% + 255px);
  }

  &_20 {
    top: 56.8%;
    left: calc(50% + 342px);
  }

  &_19 {
    top: 37.4%;
    left: calc(50% - 325px);
  }

  &_18 {
    top: 40.4%;
    left: calc(50% - 265px);
  }

  &_17 {
    top: 42.9%;
    left: calc(50% - 200px);
  }

  &_16 {
    top: 46.4%;
    left: calc(50% - 137px);
  }

  &_15 {
    top: 47.8%;
    left: calc(50% - 70px);
  }

  &_14 {
    top: 48.8%;
    left: calc(50% + 4px);
  }

  &_13 {
    top: 48.8%;
    left: calc(50% + 84px);
  }

  &_12 {
    top: 48.8%;
    left: calc(50% + 174px);
  }

  &_11 {
    top: 48.8%;
    left: calc(50% + 252px);
  }

  &_10 {
    top: 48.8%;
    left: calc(50% + 328px);
  }

  &_9 {
    top: 15.2%;
    left: calc(50% - 385px);
  }

  &_8 {
    top: 15.5%;
    left: calc(50% - 265px);
  }

  &_7 {
    top: 17.4%;
    left: calc(50% - 190px);
  }

  &_6 {
    top: 21.4%;
    left: calc(50% - 103px);
  }

  &_5 {
    top: 24.9%;
    left: calc(50% - 30px);
  }

  &_4 {
    top: 24.9%;
    left: calc(50% + 37px);
  }

  &_3 {
    top: 24.9%;
    left: calc(50% + 117px);
  }

  &_2 {
    top: 24.9%;
    left: calc(50% + 197px);
  }

  &_1 {
    top: 24.9%;
    left: calc(50% + 265px);
  }
}
.hide {
  position: absolute;
    display: none;
    z-index: 3;
}
.item:hover .hide {
  display: block;
    width: 260px;
    height: 150px;
    box-shadow: 0 10px 45px rgb(17 22 27 / 20%);
    border-radius: 10px;
    background-color: #ffffff;
    top: -150px;
    left: calc(50% - 130px);
    padding: 30px 40px;
    text-align: center;
}
.plan .item.gray {
  background-color: #fa3336;
}
.plan .item.red {
  background-color: #ead629;
}

.plan .item p {
  color: #f8f6f2;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
}

.plan .item .hide p {
  color: #212121;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.plan .item .hide p span {
  color: #75a635;
  font-size: 24px;
  font-weight: 700;
}

.plan .item.red .hide span {
  color: #ead629;
}

.plan .item.gray .hide span {
  color: #fa3336;
}

// фотогаллерея

.gallery {
  padding: 68px 0 125px;
  &__container {
  }

  &__header {
    font-size: 50px;
    font-family: Lifehack;
    text-align: center;
    font-weight: 500;
    margin-bottom: 69px;
    @include adaptiveValue("font-size", 50,30, 1200, 320);
    font-weight: 500;
  }

  &__slider {
    height: 640px;
    @include adaptiveValue("height", 640, 320, 1200, 320);
  }

  &__wrapper {
  }

  &__slide {
    position: relative;
    cursor: pointer;
    img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.mini-gallery {
 
  &__slider {
    margin-top: 15px;
  }

  &__image {

  }

  &__wrapper {

  }
  
  &__slide {
    position: relative;
    padding: 0 0 10% 0;
    @include adaptiveValue("padding-bottom", 117, 60, 1200, 320);
    cursor: pointer;
   
    img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 5px;
    }
   
  }
  &__slide.swiper-slide-thumb-active:after {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    border: 1px solid #fff;
    margin: 5px;
  } 
}

.ymaps-2-1-79-balloon__tail {
  box-shadow: none;
}

.lg-backdrop {
  background-color: #000000d6;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: #01b651;
}

.tipical .objects {
  margin: 0;
  padding-top: 1px;
}