
.tipical {

    &__breadcrumbs {
        display: flex;
        margin: 35px 0 27px;
        grid-column-gap: 15px;
        a {
            font-size: 14px;
            line-height: 18px;
        }
        a:first-child {
        text-decoration: underline #909090;
        }
        a:after {
            content: '>';
            text-decoration: none !important;
            margin-left: 12px;
            display: inline-block;
        }
        a:last-child:after {
            content: '';
        }
    }

    &__header {
        font-size: 50px;
        font-family: 'Lifehack';
        margin-bottom: 45px;
    }

    p {
        margin-bottom: 20px;
        font-size: 16px;
    }

    &__gallery {
        display: flex;
        justify-content: space-between;
        grid-row-gap:30px;
        grid-column-gap: 30px;
        margin: 50px 0;
    }

    &__gallery-item {
        flex: 0 1 262px;
        height: 171px;
        min-width: 150px;
        position: relative;
        cursor: pointer;
        img {
            object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
        }
    }

    &__gallery-item:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
          border: 2px solid #fff;
          margin: 8px;
    }
    &__btn {
        padding: 16px 55px;
        border-radius: 5px;
        background-color: #fac23a;
        margin: 10px;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__btn:hover {
        background-color: #f8cd63;
    }

    &__select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 1px solid #e5e5e5;
        background-color: #f5f5f5;
        outline: none;
        font-family: 'Roboto';
        border-radius: 5px;
        width: 100%;
        padding: 20px 100px 20px 18px;
        cursor: pointer;
        &option {
            font-family: "Roboto";
            font-size: 14px;
        }
        &option:hover {
            background-color: #01b651;
        }
    }


    &__select::-ms-expand {
        display: none;
    }

    &__select-wrapper {
        position: relative;
        width: 340px;
    }

    &__select-wrapper::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-color: #e5e5e5;
        display: block;
        width: 53px;
        height: 57px;
        border-radius:0 5px 5px 0 ;
        pointer-events: none;
    }
    &__select-wrapper::after {
        content: '';
        position: absolute;
        top: 48%;
        right: 26px;
        transform: rotate(45deg) translateY(-50%);
        display: block;
        width: 13px;
        height: 13px;
        background-color: transparent;
        border-bottom: 2px solid gray;
        border-right: 2px solid gray;
        pointer-events: none;
    }
    
}
